
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-repeat: no-repeat;
     background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-image: url("https://static.vecteezy.com/system/resources/previews/002/011/893/non_2x/paper-cut-luxury-gold-background-with-metal-texture-3d-abstract-for-gift-card-poster-on-wall-poster-template-landing-page-ui-ux-cover-book-banner-free-vector.jpg");
}

.container {
    background-color: #312f2f54;
    padding: 40px 60px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}
h1{
    color: white;
}
.contact-form label {
    display: block;
    font-size: 16px;
    margin: 10px 0 5px;
    color: white;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
}

.contact-form button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #0056b3;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .container {
        padding: 20px;
    }

    .contact-form label {
        font-size: 14px;
    }

    .contact-form input,
    .contact-form textarea {
        font-size: 14px;
        padding: 8px;
    }

    .contact-form button {
        font-size: 14px;
        padding: 8px 16px;
    }
}
